{% extends 'base.html' %}
<!--  -->
{% load static %}
<!--  -->
{% block content %}

<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
<!-- <style>
  *,
  html,
  body {
    margin: 0;
    padding: 0;
  }

  a {
    position: absolute;
    border: none;
    font-size: 20vw;
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 50vh;
  }
  #btn1 {
    background: #fcc;
    top: 0%;
    left: 0%;
    width: 100%;
    bottom: 50%;
  }
  #btn2 {
    background: #fcf;
    top: 50%;
    width: 100%;
    bottom: 0%;
  }
</style> -->

<a id="btn1" href="{% url 'kiosk:index' %}">카메라</a>
<a id="btn2" href="{% url 'kiosk:index' %}">물체인식</a>

<img src="{% static 'images/image.png' %}" alt="웨않되" />

{% endblock %}
