{% load static %}

<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta
      http-equiv="Content-Security-Policy"
      content="upgrade-insecure-requests"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Camera Web App</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/kiosk.css' %}"
    />
  </head>
  <body>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <div id="header">
      <h3>Simple Web Camera</h3>
      <p>버튼을 클릭 하세요.</p>
      <button id="camera--trigger">사진촬영</button>
    </div>
    <main id="camera">
      <canvas id="camera--sensor"></canvas>

      <!-- 비디오 -->
      <video id="camera--view" autoplay playsinline></video>

      <!-- 캡쳐사진 -->
      <img src="//:0" alt="" id="camera--output" />
      <!-- <img src="" id="media_file" /> -->
    </main>

    <script>
      let constraints = { video: true, audio: false };
      const cameraView = document.querySelector("#camera--view");
      const cameraOutput = document.querySelector("#camera--output");
      const cameraSensor = document.querySelector("#camera--sensor");
      const cameraTrigger = document.querySelector("#camera--trigger");
      // const cameraMedia = document.querySelector("#media_file");

      function cameraStart() {
        navigator.mediaDevices
          .getUserMedia(constraints)
          .then(function (stream) {
            track = stream.getTracks()[0];
            cameraView.srcObject = stream;
          })
          .catch(function (error) {
            console.error("카메라에 문제가 있습니다.", error);
          });
      }

      //촬영 버튼 클릭 리스너
      cameraTrigger.addEventListener("click", function () {
        cameraSensor.width = cameraView.videoWidth; //640으로 정해져서 나오네?
        cameraSensor.height = cameraView.videoHeight;
        cameraSensor.getContext("2d").drawImage(cameraView, 0, 0);
        cameraOutput.src = cameraSensor.toDataURL("image/png");
        // cameraMedia.src = "{% static 'mainSite/media/image.png' %} ";
        cameraOutput.classList.add("taken");

        $.ajax({
          type: "POST",
          url: "{% url 'kiosk:upload' %}",
          headers: {
            "X-CSRFTOKEN": "{{ csrf_token }}",
          },
          data: { data: cameraOutput.src },
          success: function (result) {
            console.log("success");
          },
          error: function (e) {
            console.log("error");
            console.log(e);
          },
        });
      });

      // 페이지가 로드되면 함수 실행
      window.addEventListener("load", cameraStart, false);
    </script>
  </body>
</html>
