<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        // https://docs.djangoproject.com/en/3.1/ref/csrf/
        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        var csrftoken = getCookie('csrftoken');

        function uploadFile() {
            document.getElementById('Coauthform').submit();
        }
        function kakao() {
            document.getElementById('kakao').submit();
        }
    </script>
</head>
<body>

<form action="/tesseract/" method="post" id="Coauthform" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="uploadfile" id="uploadfile" />
</form>

<form action="/tesseract/kakao" method="post" id="kakao" enctype="multipart/form-data">
    {% csrf_token %}
</form>

<div style="margin:50px 0;">
    <button onclick="uploadFile();">READ</button>
</div>

<div style="margin:50px 0;">
    <button onclick="kakao();">kakao</button>
</div>

<div style="margin:50px 0;">
    <table width="100%">
        <tr>
            <td width="50%">
                {% if imgname == '' %}
                이미지 업로드
                {% else %}
                <img src="/static/source/{{imgname}}" style="width:90%;" />
                {% endif %}
            </td>
            <td width="50%">
                <pre>
                {{resulttext}}
                </pre>
            </td>
        </tr>
    </table>

    <br><br>음식인식 결과 <br>
    {{result}}
</div>


</body>
</html>